.clientsList {
    display: flex;
    flex-direction: column; /* Set the direction to column */
    align-items: right; /* Optional: Center the items horizontally */
  }
  
  .client {
    margin-bottom: 10px; /* Add margin between clients */
  }
  